<!doctype html>
<html class="no-js" lang="ru">
    <head>
        <title>Система видеодетекции объектов незаконной торговли | Честный Город</title>
        <meta name="description" content="Система автоматической видеодетекции объектов незаконной торговли Честный Город">
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/foundation.min.css" rel="stylesheet">
        <script>
            var reloading;

            function checkReloading() {
                if (window.location.hash=="#autoreload") {
                    reloading=setTimeout("window.location.reload();", 5000);
                    document.getElementById("reloadCB").checked=true;
                }
            }

            function toggleAutoRefresh(cb) {
                if (cb.checked) {
                    window.location.replace("#autoreload");
                    reloading=setTimeout("window.location.reload();", 5000);
                } else {
                    window.location.replace("#");
                    clearTimeout(reloading);
                }
            }

            window.onload=checkReloading;
        </script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
        <script src="/js/content-control.js" th:inline="javascript"></script>
        <style>
            .blokimg {
                position: relative;
            }
            .overlay{
                min-width: 640px;
                max-width: 1280px;
                display: none;
                width: 70vw;
                height: auto;
                position: absolute;
                top: -4vw;
                left: -35vw;
                z-index: 999;
            }
            .overlay .overlay_container{
                display: table-cell;
                vertical-align: middle;
            }
            .overlay_container img{
                background-color: #AB5;
                padding: 1px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
            }
            .overlay:target {
                display: table;
            }
        </style>
    </head>

    <body>
        <input type="hidden" name="currentPage" id="currentPage" th:value="${currentPage}">
        <!-- Start Top Bar -->
        <div class="top-bar">
            <div class="row">
                <div class="top-bar-left">
                    <img class="header_logo-s" src="/img/logo.svg">
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                    <li><a th:href="@{/admin/files/0}">Управление</a></li>
                    <!-- <li><a href="#">Действие</a></li>
                    <li><a href="#">Аналитика</a></li>-->
                    <li><a th:href="@{/admin/users/0}">Контакты</a></li>
                    <li><a th:href="@{/logout}">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- End Top Bar -->
        <br>
        <!-- You can now combine a row and column if you just need a 12 column row -->


        <div class="row">
            <div class="medium-6 columns">
                <div class="download medium-12 columns" style="border: solid 1px lightgray; padding: 10px; background-color: whitesmoke"> <!-- style="border: solid 1px gray" -->
                    <form id="uploadForm" th:method="POST" th:action="@{/admin/files/add}" enctype="multipart/form-data">
                        <input type="hidden" name="cpAdd" id="cpAdd" th:value="${currentPage}">
                        <div class="medium-12 columns">
                            <div class="medium-12 row">
                                <div class="medium-10 column">
                                    <input type="text" placeholder="C:\yours_file.mp4"  id="pathField" disabled>
                                </div>
                                <div class="medium-2 column">
                                    <label class="button" onclick="document.getElementById('file').click()">Обзор</label>
                                    <input type="file" accept="video/*" name="file" id="file" style="display:none" onchange="document.getElementById('pathField').setAttribute('value',document.getElementById('file').value)">
                                </div>
                            </div>
                           <!-- <div class="medium-2 column">
                                <label class="button" onclick="document.getElementById('file').click()">Обзор</label>
                                <input type="file" accept="video/*" name="file" id="file" style="display:none" onchange="document.getElementById('pathField').setAttribute('value',document.getElementById('file').value)">
                            </div>-->
                            <div class="medium-12 row">
                                <input class="button expanded" type="submit" value="Загрузить">
                            </div>
                            <div class="medium-12 row">
                                <progress class="progress" id="progressBar" value="0" max="100" style="width: 100%"></progress>
                            </div>
                        </div>
                    </form>
                    <script>
                        const form = document.getElementById('uploadForm')
                        const fileInput = document.getElementById('file')
                        const progressBar = document.getElementById('progressBar')
                        form.addEventListener('submit', function (event) {
                            event.preventDefault()
                            const fileToUpload = fileInput.files[0]
                            const formSent = new FormData(form)
                            const xhr = new XMLHttpRequest()

                            if (fileInput.files.length > 0) {
                                formSent.append('uploadForm_File', fileToUpload)

                                // собираем запрос и подписываемся на событие progress
                                xhr.upload.addEventListener('progress', progressHandler, false)
                                xhr.addEventListener('load', loadHandler, false)
                                xhr.open('POST', '/admin/files/add')
                                xhr.send(formSent)
                            } else {
                                alert('Сначала выберите файл')
                            }

                            return false
                        });
                        function progressHandler(event) {
                            progressBar.value = Math.round((event.loaded / event.total) * 100)
                        }

                        function loadHandler(event) {
                            progressBar.value = 0
                            //window.location.reload();
                        }
                    </script>
                </div>

                <h4>Загруженные файлы</h4>

                <div id="array-structure">
                    <!-- ELEMENT START -->
                    <div class="media-object stack-for-small" th:each="f,iter : ${fileInform}" th:id="'element_' + ${f.getId()}" style="border: solid 1px lightgray; padding: 10px; background-color: whitesmoke">
                        <div class="media-object-section medium-6">
                            <!--<video controls width="300" muted class="thumbnail">
                                <source th:src="'/saved/' + ${f.getFileName()}" type="video/mp4"/>
                            </video>-->
                            <img class="thumbnail" src="https://placehold.it/200x150">
                            <!--<video class="thumbnail" width="300" height="200"  muted controls="controls">
                                <source th:src="${f.getFullPath()}" type="video/mp4" />
                            </video>-->
                        </div>
                        <div class="media-object-section" style="position: relative">
                            <div class="medium-12">
                                <ul class="spisok">
                                    <li style="font-size: 14px">ID: <span th:text="${f.getId()}"></span></li>
                                    <li style="font-size: 14px">Имя: <span th:text="${f.getFileName()}"></span></li>
                                    <li style="font-size: 14px">Дата: <span th:text="${f.getPlacedAt()}"></span></li> <!-- исправить на дату записи видео в базе -->
                                    <li style="font-size: 14px">Размер файла: <span th:text="${f.getFileSize()}"></span></li> <!-- Размер сделать в гигабайтах -->
                                </ul>
                            </div>
                            <div class="small-12 row button-group" style="position: absolute; bottom: 10px">
                                <div class="small-6 column">
                                    <div th:id="'photo_' + ${f.getId()}">
                                        <button class="submit small button disabled" th:if="${f.getImages().size()} == 0">Фото</button>
                                        <button th:name="${f.id}" class="submit small button" onclick="showPhotos(this.name)" th:if="${f.getImages().size()} != 0">Фото</button>
                                    </div>
                                </div>
                                <script th:inline="javascript">
                                    function showPhotos(id){
                                        let content = [[${fileInform}]]
                                        setupPhotos(content,id)
                                    }
                                </script>
                                <div class="small-6 column">
                                    <!--<form th:method="POST" th:action="@{/admin/files/delete/{id}(id=${f.getId()})}">
                                        <input type="hidden" name="cpDel" id="cpDel" th:value="${currentPage}">
                                        <input class="alert small button" type="submit" value="Удалить">
                                    </form>-->
                                    <button th:id="${f.getId()}" th:name="${currentPage}" class="alert small button" onclick="deleteElement(this.id,this.name)">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ELEMENT END -->
                </div>
                </div>


            <!-- Сложный элемент -->
            <div class="medium-6 columns" id="imageBlock">
                <h4>Факты несанкционированной торговли</h4>
                <img class="thumbnail" src="https://placehold.it/650x350">
                <div>
                    <button type="button" class="submit expanded button" th:if="${images.size()} != 0">Отправить в надзорный орган</button>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            function replaceImage(id) {
                console.log(id)
                let currentImageSrc = document.getElementById(id).getAttribute('src');
                let mainImage = document.getElementById('mainImg');
                let mainImage2 = document.getElementById('mainImg2');
                mainImage.setAttribute('src',currentImageSrc)
                mainImage2.setAttribute('src',currentImageSrc)
            }
        </script>

        <div class="column row">
            <nav aria-label="Pagination">
                <div id="navbar">
                    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                        <li class="disabled" th:if="${currentPage} == 0">Previous <span class="show-for-sr">page</span></li>
                        <li th:if="${currentPage} >= 1"><a th:href="@{/admin/files/{page}(page=${currentPage - 1})}">Previous</a><span class="show-for-sr">page</span></li>

                        <li th:if="${currentPage} != 0"><a th:href="@{/admin/files/{page}(page=${currentPage - 1})}" th:text="${currentPage}">num</a></li>
                        <li class="current"><span class="show-for-sr">You're on page</span><span id="pageNum" th:text="${currentPage + 1}"> num</span></li>
                        <li th:if="${currentPage + 1} != ${totalPages}"><a th:href="@{/admin/files/{page}(page=${currentPage + 1})}" th:text="${currentPage + 2}">num</a></li>

                        <li class="disabled" th:if="${currentPage+1} == ${totalPages}">Next<span class="show-for-sr">page</span></li>
                        <li th:if="${currentPage + 1} != ${totalPages}"><a th:href="@{/admin/files/{page}(page=${currentPage + 1})}" aria-label="Next page">Next<span class="show-for-sr">page</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>



