<!doctype html>
<html class="no-js" lang="ru">
    <head>
        <title>Система видеодетекции объектов незаконной торговли | Честный Город</title>
        <meta name="description" content="Система автоматической видеодетекции объектов незаконной торговли Честный Город">
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/foundation.min.css" rel="stylesheet">
        <script>
            var reloading;

            function checkReloading() {
                if (window.location.hash=="#autoreload") {
                    reloading=setTimeout("window.location.reload();", 5000);
                    document.getElementById("reloadCB").checked=true;
                }
            }

            function toggleAutoRefresh(cb) {
                if (cb.checked) {
                    window.location.replace("#autoreload");
                    reloading=setTimeout("window.location.reload();", 5000);
                } else {
                    window.location.replace("#");
                    clearTimeout(reloading);
                }
            }

            window.onload=checkReloading;
        </script>
    </head>

    <body>
        <!-- Start Top Bar -->
        <div class="top-bar">
            <div class="row">
                <div class="top-bar-left">
                    <img class="header_logo-s" src="/img/logo.svg">
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                    <li><a th:href="@{/admin/files/0}">Управление</a></li>
                    <!-- <li><a href="#">Действие</a></li>
                    <li><a href="#">Аналитика</a></li>-->
                    <li><a th:href="@{/admin/users/0}">Контакты</a></li>
                    <li><a th:href="@{/logout}">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- End Top Bar -->
        <br>
        <!-- You can now combine a row and column if you just need a 12 column row -->


        <div class="row">
            <div class="medium-6 columns">
                <div class="download">
                    <form id="uploadForm" th:method="POST" th:action="@{/admin/files/add}" enctype="multipart/form-data">
                        <div class="grid-x">
                            <div class="small-10 cell column">
                                <input type="text" placeholder="C:\yours_file.mp4"  id="pathField" disabled>
                            </div>
                            <div class="small-2 cell column">
                                <label class="button" onclick="document.getElementById('file').click()">Обзор</label>
                                <input type="file" name="file" id="file" style="display:none" onchange="document.getElementById('pathField').setAttribute('value',document.getElementById('file').value)">
                            </div>
                            <div class="medium-12 column">
                                <input  class="button expanded" type="submit" value="Загрузить">
                            </div>
                            <div class="medium-12 column">
                                <progress class="progress" id="progressBar" value="0" max="100" style="width: 100%"></progress>
                            </div>
                        </div>
                    </form>
                    <script>
                        const form = document.getElementById('uploadForm')
                        const fileInput = document.getElementById('file')
                        const progressBar = document.getElementById('progressBar')
                        form.addEventListener('submit', function (event) {
                            event.preventDefault()
                            const fileToUpload = fileInput.files[0]
                            const formSent = new FormData(form)
                            const xhr = new XMLHttpRequest()

                            if (fileInput.files.length > 0) {
                                formSent.append('uploadForm_File', fileToUpload)

                                // собираем запрос и подписываемся на событие progress
                                xhr.upload.addEventListener('progress', progressHandler, false)
                                xhr.addEventListener('load', loadHandler, false)
                                xhr.open('POST', '/admin/files/add')
                                xhr.send(formSent)
                            } else {
                                alert('Сначала выберите файл')
                            }

                            return false
                        });
                        function progressHandler(event) {
                            progressBar.value = Math.round((event.loaded / event.total) * 100)
                        }

                        function loadHandler(event) {
                            progressBar.value = 0
                            window.location.reload();
                        }
                    </script>
                </div>

                <h4>Все файлы</h4>

                <!-- ELEMENT START -->
                <div class="media-object stack-for-small" th:each="f : ${fileInform}">
                    <div class="media-object-section">
                        <img class="thumbnail" src="https://placehold.it/200x200">
                    </div>
                    <div class="media-object-section">
                        <ul class="spisok">
                            <li>Имя: <span th:text="${f.getFileName()}"></span></li>
                            <li>Дата: <span th:text="${f.getPlacedAt()}"></span></li> <!-- исправить на дату записи видео в базе -->
                            <li>Размер файла: <span th:text="${f.getFileSize()}"></span></li> <!-- Размер сделать в гигабайтах -->
                        </ul>
                        <div class="buttom_uprav button-group">
                            <div class="row medium-10">
                                <div class="small-4 column">
                                    <form th:method="POST" th:action="@{/admin/files/get/photo/{id}(id=${f.getId()})}" th:object="${f}">
                                        <input type="submit" value="Фото" class="submit small button disabled" th:if="${f.getImages().size()} == 0">
                                        <input type="submit" value="Фото" class="submit small button" th:if="${f.getImages().size()} != 0">
                                    </form>
                                </div>
                                <div class="small-3 column">
                                    <button type="button" class="submit small button disabled">Видео</button>
                                </div>
                                <div class="small-3 column">
                                    <form th:method="POST" th:action="@{/admin/files/delete/{id}(id=${f.getId()})}">
                                        <input class="alert small button" type="submit" value="Удалить">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ELEMENT END -->
            </div>

            <!-- Сложный элемент -->
            <div class="medium-6 columns">
                <!-- КНОПКА АВТООБНОВЛЕНИЯ -->
                <div class="row">
                    <div class="columns large-2">
                        <div class="switch">
                            <!--<input class="switch-input"  type="checkbox" id="exampleCheckedDisabledSwitch" name="exampleCheckedDisabledSwitch">-->
                            <input class="switch-input" type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB" name="reloadCB">
                            <label class="switch-paddle" for="reloadCB">
                                <span class="show-for-sr">Can't Touch This Checked</span>
                            </label>
                        </div>
                    </div>
                    <div class="columns large-10">автообновление страницы</div>
                </div>

                <h4>Факты несанкционированной торговли</h4>

                <div th:if="${images.size()} == 0">
                    <img class="thumbnail" src="https://placehold.it/650x350">
                    <div class="row small-up-4">
                        <div class="column">
                            <img class="thumbnail" src="https://placehold.it/250x200">
                        </div>
                        <div class="column">
                            <img class="thumbnail" src="https://placehold.it/250x200">
                        </div>
                        <div class="column">
                            <img class="thumbnail" src="https://placehold.it/250x200">
                        </div>
                        <div class="column">
                            <img class="thumbnail" src="https://placehold.it/250x200">
                        </div>
                    </div>
                </div>
                <div th:if="${images.size()} != 0">
                    <img class="thumbnail" th:src="'data:image/png;base64,' + ${images.get(0)}" width="650px" height="350px"/>
                    <div class="row small-up-4">
                        <div class="column">
                            <a th:href="@{/admin/files/resort/{num}(num = 1)}"><img class="thumbnail" th:src="'data:image/png;base64,' + ${images.get(1)}" width="250" height="200"/></a>
                        </div>
                        <div class="column">
                            <a th:href="@{/admin/files/resort/{num}(num = 2)}"><img class="thumbnail" th:src="'data:image/png;base64,' + ${images.get(2)}" width="250" height="200"/></a>
                        </div>
                        <div class="column">
                            <a th:href="@{/admin/files/resort/{num}(num = 3)}"><img class="thumbnail" th:src="'data:image/png;base64,' + ${images.get(3)}" width="250" height="200"/></a>
                        </div>
                        <div class="column">
                            <a th:href="@{/admin/files/resort/{num}(num = 4)}"><img class="thumbnail" th:src="'data:image/png;base64,' + ${images.get(4)}" width="250" height="200"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column row">
            <nav aria-label="Pagination">
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <li class="disabled" th:if="${currentPage} == 0">Previous <span class="show-for-sr">page</span></li>
                    <li th:if="${currentPage} >= 1"><a th:href="@{/admin/files/{page}(page=${currentPage - 1})}">Previous</a><span class="show-for-sr">page</span></li>

                    <li th:if="${currentPage} != 0"><a th:href="@{/admin/files/{page}(page=${currentPage - 1})}" th:text="${currentPage}">num</a></li>
                    <li class="current"><span class="show-for-sr">You're on page</span><span th:text="${currentPage + 1}"> num</span></li>
                    <li th:if="${currentPage + 1} != ${totalPages}"><a th:href="@{/admin/files/{page}(page=${currentPage + 1})}" th:text="${currentPage + 2}">num</a></li>

                    <li class="disabled" th:if="${currentPage+1} == ${totalPages}">Next<span class="show-for-sr">page</span></li>
                    <li th:if="${currentPage + 1} != ${totalPages}"><a th:href="@{/admin/files/{page}(page=${currentPage + 1})}" aria-label="Next page">Next<span class="show-for-sr">page</span></a></li>
                </ul>
            </nav>
        </div>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>



