<!doctype html>
<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Система видеодетекции объектов незаконной торговли | Честный Город</title>
        <meta name="description" content="Система автоматической видеодетекции объектов незаконной торговли Честный Город">
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="css/style.css" rel="stylesheet">
        <link href="css/foundation.min.css" rel="stylesheet">
        <!--<script type="text/javascript" th:src="@{/js/map.js}"></script>-->
    </head>

    <body class="fon-glav">
        <!-- Start Top Bar -->
        <div class="top-bar">
            <div class="row">
                <div class="top-bar-left">
                    <img class="header_logo" src="/img/logo.svg">
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><img class="header_admin" src="./img/addmin.png"></li>
                        <li><img class="header_anapa" src="./img/anapa.svg"></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Top Bar -->


        <!-- You can now combine a row and column if you just need a 12 column row -->


        <div class="row">
            <div class="medium-6 columns outer">

                <form th:method="POST" th:action="@{/login}" id="loginForm" class="log-in-form">
                    <h4 class="text-center zagolovok-form">Войти</h4>
                    <label class="label-forms">Email
                        <input placeholder="somebody@example.ru" type="email" name="username" id="username">
                    </label>
                    <label class="label-forms">Password
                        <input placeholder="Password" type="password" name="password" id="password">
                    </label>
                    <input id="show-password" type="checkbox"><label class="label-forms" for="show-password">Показать
                    пароль</label>
                    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
                    <script>
                        $('body').on('click', '#show-password', function(){
                            if ($(this).is(':checked')){
                                $('#password').attr('type', 'text');
                            } else {
                                $('#password').attr('type', 'password');
                            }
                        });
                    </script>
                    <p><input class="button expanded primary hollow" type="submit" value="Log in"></input></p>
                    <p class="text-center"><a href="#">Забыли пароль?</a></p>
                </form>

            </div>
            <div class="medium-6 large-5 columns">
                <div class="animated">
                    <img class="star star_size_s" src="./img/obbiktiv1.svg">
                    <img class="star star_size_m" src="./img/obbiktiv2.svg">
                    <img class="star star_size_l" src="./img/obbiktiv3.svg">
                    <img class="star star_size_j" src="./img/obektiv.svg">

                </div>
            </div>

            <div class="column row">
            </div>


            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
            <script>
                $(document).foundation();
            </script>
        </div>
    </body>
</html>



