<!doctype html>
<html class="no-js" lang="ru">
    <head>
        <title>Система видеодетекции объектов незаконной торговли | Честный Город</title>
        <meta content="Система автоматической видеодетекции объектов незаконной торговли Честный Город" name="description">
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/foundation.min.css" rel="stylesheet">

        <!--<script>
            setInterval(update,1000)
            function update(){
                let myNum = document.getElementById('myNum');
                const xhr = new XMLHttpRequest();
                xhr.open("GET", "http://localhost:8080/test");
                xhr.send();
                xhr.responseType = "json";
                xhr.onload = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        const data = xhr.response;
                        myNum.setAttribute('value',data);
                    } else {
                        console.log(`Error: ${xhr.status}`);
                    }
                };
            }
        </script>-->
    </head>

    <body>
        <!-- Start Top Bar -->
        <div class="top-bar">
            <div class="row">
                <div class="top-bar-left">
                    <img class="header_logo-s" src="/img/logo.svg">
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                    <li><a th:href="@{/admin/files/0}">Управление</a></li>
                    <!-- <li><a href="#">Действие</a></li>
                    <li><a href="#">Аналитика</a></li>-->
                    <li><a th:href="@{/admin/users/0}">Контакты</a></li>
                    <li><a th:href="@{/logout}">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Top Bar -->

        <!--<button class="button" id="btn">Click</button>-->
        <!--<label for="myNum"></label><input id="myNum" type="number" value="0">-->

        <br>

        <!--<button type="button" id="superButton" onclick="toDo()">Button</button>
        <script>
            function toDo(){
                let id = document.getElementById('currentPageId').textContent
                console.log(id)
            }
        </script>-->

        <!-- You can now combine a row and column if you just need a 12 column row -->
        <div class="row">
            <div class="medium-6 columns">
                <h4>Пользователи</h4>
                <div class="media-object stack-for-small" th:each="p : ${persons}">
                    <div class="media-object-section" style="padding: 10px">
                        <div style="border: solid 1px lightgray; padding: 10px; background-color: whitesmoke">
                            <ul class="spisok">
                                <li class="title-name" th:text="${p.getFirstName()} + ' ' + ${p.getLastname()}">full_name</li>
                                <li th:text="${p.getUsername()}">mail</li>
                                <!--<li th:text="${p.getPhoneNumber()}">numbers</li>-->
                            </ul>
                            <div class="button-group user-bottom">
                                <div class="row small-12">
                                    <div class="column small-5">
                                        <form>
                                            <button class="submit small button" type="button">Редактировать</button>
                                        </form>
                                    </div>
                                    <div class="column small-5">
                                        <form th:method="POST" th:action="@{/admin/users/delete/{id}(id=${p.getId()})}">
                                            <input type="hidden" name="cpDelete" id="cpDelete" th:value="${currentPage}">
                                            <input class="alert small button" type="submit" value="Удалить">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="medium-6 columns">
                <h4>Добавить нового пользователя</h4>
                <form th:method="POST" th:action="@{/admin/users/add}" th:object="${person}">
                    <input type="hidden" name="cpAdd" id="cpAdd" th:value="${currentPage}">
                    <label>Имя<input type="text" th:field="*{firstName}"></label>
                    <div class="alert" th:if="${#fields.hasErrors('firstName')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{firstName}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>

                    <label>Фамилия<input type="text" th:field="*{lastname}"></label>
                    <div class="alert" th:if="${#fields.hasErrors('lastname')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{lastname}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>

                    <label>Электронная почта<input type="text" th:field="*{username}"></label>
                    <div class="alert" th:if="${#fields.hasErrors('username')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{username}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>

                    <label>Пароль<input type="password" th:field="*{password}"></label>
                    <div class="alert" th:if="${#fields.hasErrors('password')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{password}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>

                    <label>Подтверждение пароля<input type="password"th:field="*{passwordConfirm}"></label>
                    <div class="alert" th:if="${#fields.hasErrors('passwordConfirm')}" style="border: solid 1px red; background: pink">
                        <p th:errors="*{passwordConfirm}" style="color: red; font-size: small; text-align: left; vertical-align: middle; margin: auto; padding: 5px"></p>
                    </div>

                    <label>Роль
                        <select th:field="*{authority}">
                            <option th:each="a : ${authorities}" th:text="${a.getDisplayName()}" th:value="${a.getId()}"></option>
                        </select>
                    </label>
                    <input class="submit expanded button" type="submit" value="Добавить">
                </form>
            </div>
        </div>



        <div class="column row">
            <nav aria-label="Pagination">
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <li class="disabled" th:if="${currentPage} == 0">Previous <span class="show-for-sr">page</span></li>
                    <li th:if="${currentPage} >= 1"><a th:href="@{/admin/users/{page}(page=${currentPage - 1})}">Previous</a><span class="show-for-sr">page</span></li>

                    <li th:if="${currentPage} != 0"><a th:href="@{/admin/users/{page}(page=${currentPage - 1})}" th:text="${currentPage}">num</a></li>
                    <li class="current"><span class="show-for-sr">You're on page</span><span id="currentPageId" th:text="${currentPage + 1}"> num</span></li>
                    <li th:if="${currentPage + 1} != ${totalPages}"><a th:href="@{/admin/users/{page}(page=${currentPage + 1})}" th:text="${currentPage + 2}">num</a></li>

                    <li class="disabled" th:if="${currentPage+1} == ${totalPages}">Next<span class="show-for-sr">page</span></li>
                    <li th:if="${currentPage+1} != ${totalPages}"><a th:href="@{/admin/users/{page}(page=${currentPage + 1})}" aria-label="Next page">Next<span class="show-for-sr">page</span></a></li>
                </ul>
            </nav>
        </div>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        <script>
        $(document).foundation();
        </script>
    </body>
</html>



