<!doctype html>
<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Система видеодетекции объектов незаконной торговли | Честный Город</title>
        <meta name="description" content="Система автоматической видеодетекции объектов незаконной торговли Честный Город">
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="css/style.css" rel="stylesheet">
        <link href="css/foundation.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- Start Top Bar -->
        <div class="top-bar">
            <div class="row">
                <div class="top-bar-left">
                    <a th:href="@{/}">
                        <img class="header_logo-s" src="./img/logo.svg">
                    </a>
                </div>
            </div>
            <br>
            <ul class="dropdown menu" data-dropdown-menu="" role="menubar" data-dropdownmenu="iixdfk-dropdownmenu">
                <li class="menu-text" role="menuitem" tabindex="0">Управление</li>
                <li class="has-submenu is-dropdown-submenu-parent is-down-arrow" role="menuitem" tabindex="0" title="One" aria-haspopup="true">
                    <a href="#" tabindex="-1">Действия</a>
                    <ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu" style="">
                        <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a th:href="@{/admin/users/0}" tabindex="-1" style="color: darkblue">Пользователи</a></li>
                        <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a th:href="@{/admin/files/0}" tabindex="-1" style="color: darkblue">Файлы</a></li>
                    </ul>
                </li>
                <li role="menuitem" tabindex="0"><a th:href="@{/help}" tabindex="-1">Справка</a></li>
                <li role="menuitem" tabindex="0"><a th:href="@{/contact}" tabindex="-1">Контакты</a></li>
                <li role="menuitem" tabindex="0"><a th:href="@{/logout}" tabindex="-1">Выход</a></li>
            </ul>
        </div>
        <!-- End Top Bar -->

        <!-- You can now combine a row and column if you just need a 12 column row -->
        <div class="row">

            <form th:method="GET" th:action="@{/send}">
                <input type="submit" value="send">
            </form>

            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
            <script>
                $(document).foundation();
            </script>
        </div>
    </body>
</html>



